@font-face{
	font-family: permanent;
	font-display: swap;
	src: url("../assets/fonts/permanent-marker-v16-latin-regular.woff2") format("woff2"), url("../assets/fonts/permanent-marker-v16-latin-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: poppins;
	font-display: swap;
	src: url("../assets/fonts/poppins-v20-latin-regular.woff2") format("woff2"), url("../assets/fonts/poppins-v20-latin-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
