.person {
  height: calc(100vh - 90px);
  position: relative;
  background-color: var(--bg-main-color);
  // .person__block
  &__block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 366px;
    margin: 0 auto;
  }

  // .person__photo
  &__photo {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    background-color: #c4c4c4;
    border-radius: 100%;
    border: none;
    object-fit: cover;
  }

  &__name {
    margin-top: 24px;
  }

  // .person__job-title
  &__job-title {
    @include m-text($fsize: 24px);
    margin-top: 4px;
    text-align: center;
  }

  // .person__side-menu
  &__side-menu {
    width: 25px;
    height: 482px;
  }

  &__social-menu {
    width: 255px;
    height: 25px;
  }

  .side-menu {
    width: 482px;
    height: 25px;
    transform: rotate(90deg);

    &__label {
      @include m-text($fsize: 12px, $fcolor: var(--font-color));
      width: 115px;
      height: 18px;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      transform: rotate(180deg);
    }
    &__stripe {
      width: 70px;
      height: 2px;
      background: var(--font-color);
    }
    & .social-menu__icon {
      transform: rotate(-90deg) translate(50%, -50%);
    }
  }
}
