*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, menu {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/poppins-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/poppins-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/poppins-v20-latin-regular.woff2") format("woff2"), url("../assets/fonts/poppins-v20-latin-regular.woff") format("woff"), url("../assets/fonts/poppins-v20-latin-regular.ttf") format("truetype"), url("../assets/fonts/poppins-v20-latin-regular.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* permanent-marker-regular - latin */
@font-face {
  font-family: "Permanent Marker";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/permanent-marker-v16-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/permanent-marker-v16-latin-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/permanent-marker-v16-latin-regular.woff2") format("woff2"), url("../assets/fonts/permanent-marker-v16-latin-regular.woff") format("woff"), url("../assets/fonts/permanent-marker-v16-latin-regular.ttf") format("truetype"), url("../assets/fonts/permanent-marker-v16-latin-regular.svg#PermanentMarker") format("svg"); /* Legacy iOS */
}
:root {
  --bg-main-color: #020202;
  --bg-sec-color: #252525;
  --ac-color: #FFB800;
  --font-color: #FFFFFF;
  --main-font: "Poppins";
  --ac-font: "Permanent marker" ;
}

.footer__copyright, .person__job-title, .btn, .basic-input::placeholder, .basic-input, .list__item, .subtitle, .read-more, .basic-text, .title, .special-text, .menu__link {
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.menu__link {
  text-transform: uppercase;
  position: relative;
}

.menu_inverse .menu__link:hover:before, .menu_inverse .menu__link_active:before, .menu__link:hover:before, .menu__link_active:before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 100%;
  min-width: 46px;
}

.container {
  max-width: 975px;
  min-width: 320px;
  margin: 0 auto;
}
.container_wide {
  max-width: 1310px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col {
  flex-direction: column;
}

.left {
  justify-content: flex-start;
}

section {
  padding: 88px 0 99px;
  min-height: 700px;
  background-color: var(--bg-main-color);
}
section:nth-child(2n+1) {
  background-color: var(--bg-sec-color);
}

.header {
  padding: 33px 0;
  background-color: var(--bg-main-color);
}

.nav {
  width: 484px;
  margin-left: auto;
}

.menu__link {
  font-size: 16px;
  color: var(--font-color);
  font-family: var(--main-font);
}
.menu__link:hover:before, .menu__link_active:before {
  background-color: var(--ac-color);
}
.menu_inverse .menu__link {
  color: var(--bg-main-color);
}
.menu_inverse .menu__link:hover:before, .menu_inverse .menu__link_active:before {
  background-color: var(--bg-main-color);
}

.social-menu__item {
  width: 26px;
  height: 26px;
  border-radius: 100%;
  background: var(--bg-sec-color);
}
.social-menu__link {
  position: relative;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 100%;
}
.social-menu__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.special-text {
  font-size: 36px;
  color: var(--ac-color);
  font-family: var(--ac-font);
}
.special-text_inverse {
  color: var(--bg-main-color);
}

.title {
  font-size: 24px;
  color: var(--font-color);
  font-family: var(--main-font);
  margin-bottom: 14px;
  text-transform: uppercase;
}

.basic-text {
  font-size: 16px;
  color: var(--font-color);
  font-family: var(--main-font);
}

.read-more {
  font-size: 14px;
  color: var(--ac-color);
  font-family: var(--main-font);
  text-transform: capitalize;
}

.subtitle {
  font-size: 24px;
  color: var(--ac-color);
  font-family: var(--ac-font);
  margin-bottom: 18px;
}

.list__item {
  font-size: 16px;
  color: var(--font-color);
  font-family: var(--main-font);
  position: relative;
  margin: 11px 0 0 25px;
  flex: 0 0 28%;
}
.list__item:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background: var(--ac-color);
  border-radius: 100%;
}

.basic-input {
  padding: 10px;
  height: 50px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  font-size: 16px;
  color: var(--font-color);
  font-family: var(--main-font);
}
.basic-input::placeholder {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.25);
  font-family: var(--main-font);
  line-height: 19px;
}

.btn {
  font-size: 14px;
  color: var(--bg-main-color);
  font-family: var(--main-font);
  padding: 4px 12px;
  margin-left: auto;
  height: 33px;
  background: var(--ac-color);
}

.slider {
  display: grid;
  grid-template: 1fr 10px/100%;
  row-gap: 50px;
  justify-content: center;
}
.dots {
  margin: 0 auto;
  width: 60px;
  height: 10px;
}
.dots__item {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 100%;
}
.dots__item_active {
  background: var(--ac-color);
}

.person {
  height: calc(100vh - 90px);
  position: relative;
  background-color: var(--bg-main-color);
}
.person__block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 366px;
  margin: 0 auto;
}
.person__photo {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  background-color: #c4c4c4;
  border-radius: 100%;
  border: none;
  object-fit: cover;
}
.person .person__name {
  margin-top: 24px;
}
.person__job-title {
  font-size: 24px;
  color: var(--font-color);
  font-family: var(--main-font);
  margin-top: 4px;
  text-align: center;
}

.about {
  height: 634px;
  padding: 96px 0 117px;
}
.about__portrait {
  width: 330px;
  height: 420px;
  border-radius: 20px;
  background: #c4c4c4;
}
.about__portrait_twisted {
  background: rgba(196, 196, 196, 0.25);
  transform: rotate(-7.17deg);
}
.about__text {
  width: 570px;
}
.about__block {
  margin-bottom: 50px;
}

.skills {
  width: 473px;
  height: 94px;
  flex-wrap: wrap;
}

.work__menu {
  width: 460px;
  margin: 0 auto;
}
.work-slider {
  margin-top: 44px;
  display: grid;
  grid-template: repeat(2, 150px)/repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 40px;
  row-gap: 30px;
}
.work-slider__item {
  width: 200px;
  height: 150px;
  border-radius: 20px;
  background: #c4c4c4;
}

.blog__item {
  padding: 36px 23px 30px;
  width: 275px;
  height: 378px;
  background: var(--bg-main-color);
  border-radius: 20px;
}

.record__text {
  height: 100%;
}

.contact__wrapper {
  align-items: flex-start;
  margin: 44px auto 0;
  width: 720px;
}
.contact__text {
  height: 254px;
  width: 297px;
}
.contact__info {
  margin-top: 30px;
}
.contact__links {
  margin-top: 22px;
  width: 165px;
  height: 26px;
}
.contact__form {
  width: 300px;
  height: 400px;
  align-items: flex-start;
}
.contact__label {
  text-transform: capitalize;
}
.contact__input {
  width: 300px;
}
.contact__textarea {
  width: 300px;
  height: 104px;
}
.footer {
  padding: 35px 0 9px;
  height: 197px;
  background: var(--ac-color);
}
.footer__menu {
  width: 484px;
  margin: 0 auto;
}
.footer__name {
  margin: 14px auto 0;
  text-align: center;
}
.footer__copyright {
  margin-top: 45px;
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  font-family: var(--main-font);
}

/*# sourceMappingURL=style.css.map */
